body {
    font-size: 12px;
}

span.good {
    color: #78AB46;
}

span.bad {
    color: #CD3333;
}

#c_feeds {
    display: none;
}

#c_create {
    display: none;
}

#c_go_to_wp {
    display: none;
}
