@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400&subset=latin,latin-ext,cyrillic-ext);

body {
    font-size: 12px;
}

span.good {
    color: #78AB46;
}

span.bad {
    color: #CD3333;
}

#c_feeds {
    display: none;
}

#c_create {
    display: none;
    text-align: center;
}

#c_go_to_wp {
    display: none;
}

#group_select_bar {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.feed a.feed_site {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #666;
    margin-bottom: 9px;
}

.feed {
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 8px;
}

.site_post_link {
    color: #539DC2;
    text-decoration: none;
}

#no_site_yet {
    text-align: center;
    font-size: 18px;
}

#site_name {
    font-size: 20px;
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    vertical-align: middle; 
}

#site_name:focus {
    outline: none;
}

#create_note {
    margin-left: 40px;
    margin-right: 40px;
}

#create_btn {
    vertical-align: middle;
    font-size: 90px;
}

.ok {
}

.not_ok {
    border-color: #CD3333 !important;
}

.renderable {
    margin-top: 20px;
}

#wpbar {
    background-color: #21759b;
    background-image: url('http://s.wordpress.org/about/images/logos/wordpress-logo-32-blue.png');
    background-size: 24px 24px;
    background-position: 3px center;
    background-repeat: no-repeat;
    min-height: 32px;
}

#splash {
    width: 100%;
    height: 100%;
    background-color: #1a749d;
    background-image: url('http://wpcms.jp/wp/wp-content/uploads/2008/10/wplogoblue-notext-rgb.png');
    background-size: 210 210;
    background-position: center center;
    background-repeat: no-repeat;
}

div#c_messagebox {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
}

p#mbox_title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
}

p#mbox_description {
    margin-top: 0;
    font-family: 'Open Sans', sanf-serif;
    font-style: italic;
    font-weight: 300;
}
