body {
    font-size: 12px;
}

span.good {
    color: #78AB46;
}

span.bad {
    color: #CD3333;
}

#c_feeds {
    display: none;
}

#c_create {
    display: none;
}

#c_go_to_wp {
    display: none;
}

#group_select_bar {
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.feed a.feed_site {
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    color: #666;
    margin-bottom: 9px;
}

.feed {
    margin-left: 7px;
    margin-top: 7px;
    margin-bottom: 8px;
}

.site_post_link {
    color: #539DC2;
    text-decoration: none;
}
